/*******************************************************************************
*                           CSS Phraseanet Showcase                            *
*******************************************************************************/

/******* General **************************************************************/
body {
    margin: 0;
    padding: 0;
}
@media (max-width: 767px) {
    #page {
        margin-left: 20px;
        margin-right: 20px;
    }
}
.clear {
    clear: both;
}
hr {
    border-top: 1px solid #444;
    border-bottom: 1px solid #AAA;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}
a {
    color: #0088CC;
}
.spanError {
    color: #DDD;
}
#page {
    /*margin-bottom: 60px; only if fixed position for footer */
}
/******* Header ***************************************************************/
.header {
    margin: 20px 0;
    text-align: center;
}
#logoAlchemy {
    float: left;
    width: 84px;
    height: 110px;
    background-image: url('../img/logoAlchemy.png');
}
/* only if there are social icons
#logoSocial {
    float: right;
    width: 84px;
    height: 110px;
}
#logoSocial #logoFb {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 46px 3px;
    background: center no-repeat url('../img/fb.png');
}
#logoSocial #logoFb:hover {
    background: center no-repeat url('../img/fbhover.png');
}
#logoSocial #logoTw {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 46px 3px;
    background: center no-repeat url('../img/tw.png');
}
#logoSocial #logoTw:hover {
    background: center no-repeat url('../img/twhover.png');
}
#logoSocial #logoB {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 46px 3px;
    background: center no-repeat url('../img/blog.png');
}
#logoSocial #logoB:hover {
    background: center no-repeat url('../img/bloghover.png');
}*/
.header > p {
    padding: 40px 16px 0 100px;
    font-size: 14px;
    line-height: 22px;
}
.header > p > a, .footer > p > a {
    margin: 0 10px;
    text-transform : uppercase;
    color: #444;
}
.header > p > a:hover {
    text-decoration: none;
    color: #0088CC;
}
.header > p > a.active {
    text-decoration: none;
    color: #0088CC;
}
/******* Footers **************************************************************/
.footer {
    margin-bottom: 18px;
    text-align: center;
}
.footer > p {
    font-size: 14px;
    line-height: 18px;
}
.footer > p > a.active {
    text-decoration: none;
    color: #0088CC;
}
.footer > p > a:hover {
    text-decoration: none;
    color: #0088CC;
}
#bodyFooter {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #0088CC;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) inset;
    color: #FFF;
}
#bodyFooterCP {
    margin: 0;
    padding: 20px;
    line-height: 20px;
    text-align: right;
}
/******* Content - Home *******************************************************/
#feedsListHome h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform : uppercase;
    font-size: 40px;
    line-height: 34px;
    color: #444;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.previewFeed {
    height: 180px;
    margin-top: 20px;
    background-color: #444;
    -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    color: #FFF;

}
.previewFeed:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.previewFeed a {
    text-decoration: none;
    color: #FFF;
}
.previewFeed a:hover {
    text-decoration: none;
    color: #FFF;
}
.previewFeed .blueBarTop,
.previewFeed .blueBarBot {
    background-color: #0088CC;
}
.previewFeed .blueBarTop {
    height: 20px;
}
.previewFeed .prevFeedContent {
    height: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.previewFeed .blueBarBot {
    height: 30px;
}
.prevFeedThumb {
    float: left;
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-right: 10px;
}
.prevFeedThumb img {
    max-width: 32px;
    max-height: 32px;
}
.prevFeedText {
    height: 105px;
    width: 157px;
    padding: 5px 10px 0px 0px;
    overflow: auto;
}
@media (max-width: 767px) {
    .prevFeedText {
        width: 80%;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .prevFeedText {
        width: 103px;
    }
}
@media (min-width: 1200px) {
    .prevFeedText {
        width: 207px;
    }
}
.prevFeedText h4 {
    margin-bottom: 10px;
}
/******* Content - Feed *******************************************************/
.previewArticle {
    max-height: 285px;
    overflow: auto;
}
.previewArticle h1 {
    margin-bottom: 20px;
    text-transform : uppercase;
    font-size: 40px;
    line-height: 34px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.previewArticle h1 a {
    color: #444;
}
.previewArticle h1 a:hover {
    text-decoration: none;
    color: #0088CC;
}
.previewArticle p {
    margin-bottom: 20px;
    font-style: italic;
    font-size: 14px;
    line-height: 20px;
}
.previewArticle p.desc {
    font-style: normal;
}
.previewArticle .infosArticle {
    font-weight: bold;
}
.previewArticle a.logoPlus {
    display: block;
    position: relative;
    left: 0; bottom: 0;
    width: 31px;
    height: 31px;
    background-image: url('../img/plus.png');
}
.previewImage .thumbnail {
    width: 300px;
    height: 280px;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    border: 1px solid #333;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
    background-color: #0088CC;
    text-align: center;
    font-style: italic;
    color: #FFF;
}
.previewImage .thumbnail:hover {
    /*background-color: #444;*/
}
.previewImage .thumbnail a {
    text-decoration: none;
    color: #FFF;
}
.previewImage .thumbnail a:hover {
    text-decoration: none;
    color: #FFF;
}
.previewImage img {
    max-width: 300px;
    max-height: 280px;
    border: 1px solid #333;
}
@media (max-width: 767px) {
    .previewArticle {
        max-height: none;
    }
    .previewArticle p {
        margin-bottom: 15px;
    }
    .previewArticle a.logoPlus {
        margin-bottom: 15px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .previewArticle {
        max-height: 233px;
    }
    .previewArticle h1 {
        margin-bottom: 15px;
        font-size: 36px;
        line-height: 30px;
    }
    .previewArticle p {
        margin-bottom: 15px;
        font-size: 13px;
        line-height: 18px;
    }
    .previewImage .thumbnail {
        width: 228px;
        height: 228px;
    }
    .previewImage img {
        max-width: 228px;
        max-height: 228px;
    }
}
@media (min-width: 1200px) {
    .previewArticle {
        max-height: 355px;
    }
    .previewArticle h1 {
        margin-bottom: 25px;
        font-size: 44px;
        line-height: 38px;
    }
    .previewArticle p {
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 22px;
    }
    .previewImage .thumbnail {
        width: 370px;
        height: 350px;
    }
    .previewImage img {
        max-width: 370px;
        max-height: 350px;
    }
}
/******* Content - Article ****************************************************/
#textArticle h1 {
    margin-bottom: 15px;
    text-transform : uppercase;
    font-size: 40px;
    line-height: 34px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
#textArticle p {
    font-style: italic;
    font-size: 14px;
    line-height: 20px;
}
#textArticle p.desc {
    font-style: normal;
}
#textArticle .infosArticle {
    font-weight: bold;
}
#textArticle a.logoMinus {
    display: block;
    position: relative;
    left: 0; bottom: 0;
    width: 31px;
    height: 31px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-image: url('../img/minus.png');
}
#carouselArticle {
    -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
}
#carouselArticle .item {
    background-color: #222;
    text-align: center;
}
#carouselArticle .item table {
    width: 620px;
    height: 465px;
    font-style: italic;
    color: #FFF;
}
#carouselArticle .item img {
    display: inline-block;
    max-width: 616px;
    max-height: 461px;
}
#carouselArticle .item div.video-js {
    max-width: 616px;
    max-height: 461px;
}
@media (max-width: 767px) {
    #carouselArticle .item table {
        width: 100%;
        height: 250px;
    }
    #carouselArticle .item img {
        max-width: 309px;
        max-height: 246px;
    }
    #carouselArticle .item div.video-js {
        max-width: 309px;
        max-height: 246px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    #carouselArticle .item table {
        width: 476px;
        height: 357px;
    }
    #carouselArticle .item img {
        max-width: 472px;
        max-height: 353px;
    }
    #carouselArticle .item div.video-js {
        max-width: 472px;
        max-height: 353px;
    }
}
@media (min-width: 1200px) {
    #carouselArticle .item table {
        width: 770px;
        height: 578px;
    }
    #carouselArticle .item img {
        max-width: 766px;
        max-height: 574px;
    }
    #carouselArticle .item div.video-js {
        max-width: 766px;
        max-height: 574px;
    }
}
.noItem {
    text-align: center;
    font-style: italic;
    color: #FFF;
}
.carousel-caption {
    padding: 5px 15px 8px 15px;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #FFF;
}
.carousel-control {
    top: 50%;
}
/******************************************************************************/
