{% extends "base.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block headerTitle %}
{% endblock %}

{% block content %}
    <div class="span10 offset1">
        <p><em>Error {{ code }}</em>. {{ message }} {{ details }}</p>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
