{% extends "base.html.twig" %}



{% block headerTitle %}
{% endblock %}

{% block content %}

<div class="span12">
    Error {{ code }}.  {{ message }} {{ details }}
</div>


{% endblock %}

{% block footer %}
{% endblock %}
