{# Display the list of available feeds for navigation #}
{% macro navFeedList(feeds, currentFeedId) %}
    <p>
        {% for feed in feeds %}
            {% if currentFeedId is not none and feed.getId() == currentFeedId %}
                <a href="/feed/{{ feed.getId() }}?offset_start=0&per_page=5" class="active">{{ feed.getTitle() }}</a>
            {% else %}
                <a href="/feed/{{ feed.getId() }}?offset_start=0&per_page=5">{{ feed.getTitle() }}</a>
            {% endif %}
            {% if not loop.last %}
                <span class="slash">/</span>
            {% endif %}
        {% endfor %}
    </p>
{% endmacro %}
